
.ArticleResContent {
    padding: 1vh 1vw 10vh 1vw;
    min-height: 500px;
    background: rgb(255, 248, 243);
  }
  .ArticleResContent h4 {
    font-size: 1.5em;
    font-weight: 300;
    letter-spacing: 1.2px;
    color: rgb(74, 42, 1);
    margin: 1vh 0px;
  }
  .ArticleResContent .res_box{
    padding: 1vh 1vw;
  }
  
  .ArticleResContent .res_box .res_title {
    display: flex;
    align-items: center;
    .res_title_label {
      position: relative;
      i {
        right: 0;
        bottom: 0;
        transform: translateX(25%);
        position: absolute;
        color: white;
        border: 2px solid rgb(255, 146, 146);
        background: rgb(255, 146, 146);
        border-radius: 100%;
        width: 28px;
        padding: 3px;
        font-size: 1.1em;
        height: 28px;
      }
      img {
        width: 65px;
        border-radius: 100%;
      }
    }
  
    .res_title_info {
      margin-left: 20px;
      h3 {
        font-size: 1.1em;
        letter-spacing: 1.5px;
      }
      h4 {
        margin: 0.5vh 0;
        font-size: 0.9em;
      }
    }
  }
  .ArticleResContent .res_box .res_content {
    padding: 2vh 0 2vh 1vw;
    font-size: 1.1em;
    font-weight: 300;
    letter-spacing: 1.8px;
    color: rgba(0, 0, 0, 0.75);
    line-height: 28px;
    border-bottom: 1px solid rgb(233, 233, 233);
  }